.aside {
    display:grid;
    grid-auto-flow: row; 
    align-content: start;
    color: white;
    list-style-type: none;
    gap: 30px;
    grid-area: a;

}

.aside-item {
    display: flex;
    gap: 3px;
    align-content: start;
    align-items: flex-start;
    flex-shrink: 0;
}

.aside button.compose {
        height: 60px;
        border-radius: 20px;
        display: 'flex';
        align-items: 'center';
        justify-content: 'center';
        border: none;
        color: #878787;
        padding: 10px 20px;
}