.aside {
    /* display:grid;
    grid-auto-flow: row;  */
    color: white;
    list-style-type: none;
    width: 15%;
    gap: 30px;
    grid-area: a;

}

.aside-item {
    display: flex;
    gap: 3px;
    align-content: start;
    align-items: flex-start;
    flex-shrink: 0;
}