.email-details {
    padding: 30px; 
    background-color: white;
    opacity: 90%;
    border-radius: 1em;
  }
  
  div .details-container {
    padding-left: 20px; 
  }
  
  .email-details label {
    cursor: pointer;
  }